@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.accordion-item {
	background-color: #ffffff;
	color: black;
	font-size: medium;
}
.accordion-button {
	background-color: #ffffff;
	color: black;
	opacity: 1;
}
.App {
	background-color: #212121;
	min-height: 100vh;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
	font-family: "Poppins";
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
